{% load mathfilters %}
<div class="col-md-12 p-5">
    <div class="row">
        <div class="col-md-7 p-3 bg-light mb-5 shadow">
            <h4>Your Order 
                <i class="fa fa-shopping-basket fa-lg"></i>
                <small class="badge bg-danger">{{request.session.cart_data_in_session|length}}</small><br/>
            </h4>
            <hr/>
            <div class="row">
                {% if cart_data %}
                    {% for _, product in cart_data %}
                        <div class="col-md-2">
                            <img src="{{product.image}}" alt="{{product.name}}" width="80" />
                        </div>
                        <div class="col-md-7 text-secondary">
                            <p>
                                <small><b>{{product.name}}</b></small><br/>
                                <small>Category: {{product.category}}</small><br/>
                                <small>
                                    Color: {{product.color}}
                                </small><br/>
                                <small>
                                    Sizes: {{product.size}}
                                </small><br/>
                                <small>
                                    
                                </small><br/>
                                <small>
                                    Unit Prices: <b>NGN. {{product.price}}</b>
                                </small>
                                <br/>
                                <button class="btn btn-sm text-secondary 
                                    remove 
                                    remove-item-cart-{{product.id}}" 
                                    style="font-size: 12px;"
                                    data-id="{{product.id}}"
                                    >
                                    <i class="fa fa-trash"></i> Remove
                                </button>
                                |
                                <button class="btn btn-sm text-secondary" style="font-size: 12px;">
                                    <i class="fa fa-heart"></i> Move to wish list
                                </button>
                            </p>
                            {% comment %} <hr/> {% endcomment %}
                        
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-7">
                                <input 
                                type="number" 
                                class="form-control edit-qty-input-{{product.id}}" 
                                id="edit-qty-input"
                                data-id="{{product.id}}"
                                data-color="{{product.color}}"
                                value="{{product.qty}}" 
                                disabled 
                                />
                            </div>
                            {% comment %} {% if user.is_authenticate %} {% endcomment %}
                            <i 
                                class="fa fa-edit text-primary edit-qty-btn-{{product.id}}" 
                                data-toggle="tooltip"
                                title="edit item quantity"
                                id="edit-qty-btn"
                                data-id="{{product.id}}"
                                style="
                                        position: absolute; 
                                        margin-top: -20px;
                                        margin-left: 76px; 
                                        padding: 5px; 
                                        cursor: pointer;
                                        display: block;
                                ">
                            </i>
                            <i 
                                class="fa fa-check-circle text-success apply-qty-changes-{{product.id}}" 
                                data-toggle="tooltip"
                                title="apply change"
                                id="apply-qty-changes"
                                data-id="{{product.id}}"
                                style="
                                        position: absolute; 
                                        margin-top: -20px;
                                        margin-left: 76px; 
                                        padding: 5px; 
                                        cursor: pointer;
                                        display: none;
                                ">
                            </i>
                            {% comment %} {% endif %} {% endcomment %}
                            <small class="text-secondary product-price">(<i>2 left</i>)</small><br/>
                            {% with price=product.price  %}
                                
                                <h5 class="text-secondary product-price">
                                    NGN. {{ price|mul:product.qty }}
                                </h5>
                            {% endwith %}
                        </div>
                    {% endfor %}
                {% else %}
                    <h4>Your Shopping Basket is Empty</h4>
                    <small>Navigate through the store I promise you will find something you love!</small>
                {% endif %}
                
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="row bg-light p-3 shadow">
                <h4>Total</h4>
                <hr/>
                <table class="table text-secondary" style="border: none !important; border-bottom: 2px solid #fff !important;">
                    <tbody>
                        <tr>
                            <td>Subtotal</td> 
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><span>NGN. {{total_amt}}</span></td>
                        </tr>
                        <tr>
                            <td>Delivery</td> 
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><span>Free</span></td>
                        </tr>
                        <tr>
                            <td>Total</td> 
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><b>NGN. {{total_amt}}</b></td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-md-11">
                    <a 
                        href="{% url 'login_url' %}"
                        class="btn shadow"
                        style="
                        width: 100%; 
                        margin: 10px; 
                        margin-bottom: 20px;
                        padding: 10px; 
                        border: none;
                        background-color: #19EDA2;
                        color: #ffffff;
                        font-weight: 500
                        ">
                        <i class="fa fa-credit-card"></i> GO TO CHECKOUT
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>