{% if products %}
    <div class="row">
        {% for product in products %}
            <div class="col-md-3 my-4">
                <a href="{% url 'product_detail_url' pk=product.id %}" style="text-decoration: none;" class="text-secondary">
                    <div class="card-body" style="box-shadow: 1px 1px 8px 0px rgba(3, 5, 2, .2); border-radius: 5px;">
                            <span class="text-secondary">
                                NGN{{product.productattribute_set.first.price}}
                            </span>
                            <hr/>
                            <img class="product-img" src="{{product.productattribute_set.first.image.url}}" width="150px" height="200px">
                        <h6 class=" my-3">{{product.name}}</h6>
                        <div class="col-md-9 text-warning" style="font-size: 12px">
                            <span class="text-secondary"><b>4/5</b></span>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                </a>
                <hr/>
                    <div class="card-text">
                        <button
                            data-toggle="tooltips"
                            title="Add product to cart"
                            class="btn btn-sm text-light add-item-to-cart w-100" 
                            data-id={{product.id}}
                            style="
                                background: #19EDA2 !important;
                            "
                            >
                            <i class="fa fa-shopping-cart"></i> AddToCart
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}