<style>
    .content-container{
        width: 50%;
        height: 50vh;
        background: #f1f1f1;
        box-shadow: 0px 0px 4px 0px #ccc;
    }

    .content-container h3{
        font-weight: 200 !important;
    }

    .content-container p{
        padding: 10px;
    }
</style>


<body>
    <div class="content-container">
        <p>
            Dear {{recepient_name}},
        </p>
        <p>
            You are seeing this mail because
            you recently reviewed an e-commerce website developed by Gabriel Jacob and made use of his signup system. 
        </p>
        <p>
            Thank you for reviewing my project and I hope my project meets the kind of developer compitence you are
            looking forward to hire.
        </p>
        <p>
            Best regards,
            <br/>Gabriel Jacob.
        </p>
    </div>
</body>




